<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>TAGGR</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>network.taggr.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>taggr</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSExceptionDomains</key>
			<dict>
				<key>localhost</key>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true/>
					<key>NSIncludesSubdomains</key>
					<true/>
				</dict>
			</dict>
			<key>NSAllowsLocalNetworking</key>
			<true/>
		</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>TAGGR_API_BASE_URL</key>
	<string>$(TAGGR_API_BASE_URL)</string>
	<key>TAGGR_AUTH_ORIGIN</key>
	<string>$(TAGGR_AUTH_ORIGIN)</string>
	<key>TAGGR_AUTOMATE_LOCAL_II</key>
	<string>$(TAGGR_AUTOMATE_LOCAL_II)</string>
	<key>TAGGR_CANISTER_ID</key>
	<string>$(TAGGR_CANISTER_ID)</string>
	<key>TAGGR_DOMAIN</key>
	<string>$(TAGGR_DOMAIN)</string>
	<key>TAGGR_II_URL</key>
	<string>$(TAGGR_II_URL)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
